<div class="container">
<h1>Soil Server</h1>

{{!-- home page --}}
<div class="row" id="homePage">
    {{#each navButton}}
    <div class="col-md-4">
        <img src="{{imageLink}}" alt=""><br>
        <a href="{{navLink}}">{{navDestination}}</a>
    </div>
    {{/each}}
</div>

<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>

{{!-- hardware design --}}
<div class="container">
    <div class="row" id="hardwareDesign">
        <div class="col-md-6">
            <h3>Diagram</h3>
        </div>
        <div class="col-md-6">
            <h3>Video Demonstration</h3>
        </div>
    </div>
</div>


{{!-- about us --}}
<div class="container">
    <div class="row" id="aboutUs">
        {{#each aboutUs}}
        <div class="col-md-3">
            <img src="{{aboutUsImage}}" alt="">
            <p>{{aboutUsBio}}</p>
        </div>
        {{/each}}
    </div>
</div>

</div>